*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    cursor: none;
}

:root{
    font-size: 1.5vw;
    line-height: 1.4em;
    /*--swiper-theme-color: #6e94cd;
    --swiper-navigation-size: 30px;*/
}

@font-face {
    font-family: "parisienne";
    src: url('fonts/parisienne-regular-webfont.woff2') format('woff2'),
         url('fonts/parisienne-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: cursive;
}

@font-face {
    font-family: "editorial new";
    src: url('fonts/editorialnew-regular-webfont.woff2') format('woff2'),
         url('fonts/editorialnew-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.font1{
    font-family: "editorial new";
    font-weight: normal;
    font-style: normal;
}

.font2{
    font-family: "parisienne";
    font-weight: normal;
    font-style:cursive;
    font-size: 2.2rem;
    padding-left: 2px;
    padding-right: 2px;
}

.font3{
    font-family: "parisienne";
    font-weight: normal;
    font-style:cursive;
    font-size: 3rem;
    padding-left: 3px;
}

.font4{
    font-family: "parisienne";
    font-weight: normal;
    font-style:cursive;
    font-size: 4.4rem;
    padding-left: 2px;
    padding-right: 2px;
}

/*--swiper-theme-color{
    mix-blend-mode: difference;
}*/

a {
    color: #000;
    text-decoration: none;
    cursor: none;
}

.cursor{
    width: 1rem;
    height: 1rem; 
    background:black;
    border-radius: 50%;
    mix-blend-mode: difference;
    position: absolute;
    transform: translate(-35%, -35%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    z-index: -1;
}

.link-grow{
    transform: scale(1.8);
    background: #c0f4d5;
}

.link-target{
    transform: scale(1.8);
    mix-blend-mode: color-dodge;
    z-index: 2;
    background: #c0f4d5;
}


/* ^^^^^^^^^^^^^^
    HEADER
^^^^^^^^^^^^^^ */

header nav ul{
    font-family: "editorial new";
    font-style: normal;
    font-size: .9rem;
    display: flex;
    padding: 0 1.5rem;
    margin-top: 1rem;
    position: sticky;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header nav ul li{
    list-style: none;
}

header nav ul li.index{
    list-style: none;
}

header.collabs nav ul{
    font-family: "editorial new";
    font-style: normal;
    font-size: .9rem;
    display: flex;
    padding: 0 1.5rem;
    margin-top: 1rem;
    position: sticky;
    justify-content: space-between;
}

header.criadores nav ul li.sobre{
    margin-left: 4rem;
}

.form{
    width: 20%;
    position: relative;
    height: 55px;
    overflow: hidden;
    margin-left: 2rem;
}

.form input{
    width: 100%;
    height: 100%;
    padding-top: 30px;
    font-size: .7rem;
    border: none;
    outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
    display: none; 
}

.form label{
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.form label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 140%;
    width: 100%;
    border-bottom: 3px solid #4e90bb;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content-name{
    position: absolute;
    bottom: 15px;
    left:0px;
    transition: all 0.3s ease;
}

.form input:focus + label .content-name, .form input:valid + label .content-name{
    position: absolute;
    top: 55px;
    left: 0px;
    transition: all 0.3s ease;
    transform: translateY(100%);
}

.form input:focus + .label-filtro::after, .form input:valid + .label-filtro::after{
    transform: translateX(0%);
    transform: translateY(0%);
}

datalist {
	display: none;
    z-index:-5;
}
input::-webkit-calendar-picker-indicator {
	display: none;
}

/* ^^^^^^^^^^^^^^
    MAIN
^^^^^^^^^^^^^^ 

main{
    min-height: calc(100vh - 5rem);
}
*/


/* ^^^^^^^^^^^^^^
    MAIN CRIADORES
^^^^^^^^^^^^^^ */

main.criadores .container{
    margin-top: 7rem;
    text-align: center;
}

main.criadores .container article a{
    grid-template-columns: 2fr 1fr;
    height: 6.5em;
}

main.criadores .container article h2{
    font-size: 2em;
    line-height: 1.3em;
    font-weight: normal;
    text-align: center;
}

main.criadores .container .hover-image{
    opacity: 0;
    display: flex;
    position: fixed;
    top: 15%;
    left: 55%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

main.criadores .container .hover-image img{
    width: 500px;
    height: auto;
}

main.criadores .container .hover-image-2{
    opacity: 0;
    display: flex;
    position: fixed;
    top: 20%;
    left: 6%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

main.criadores .container .hover-image-3{
    opacity: 0;
    display: flex;
    position: fixed;
    top: 10%;
    left: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

main.criadores .container .hover-image-4{
    opacity: 0;
    display: flex;
    position: fixed;
    width: 300px;
    height: auto;
    top: 30%;
    right: 13%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

main.criadores .container .bonnie:hover .hover-image{
    opacity: 1;
    transition: opacity .5s;
    display: flex;
    z-index: -2;
    position: fixed;
    top: 15%;
    left: 55%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main.criadores .container .naked-soul:hover .hover-image-2{
    opacity: 1;
    transition: opacity .5s;
    display: flex;
    z-index: -2;
    position: fixed;
    top: 20%;
    left: 6%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main.criadores .container .taboo:hover .hover-image-3{
    opacity: 1;
    transition: opacity .5s;
    display: flex;
    z-index: -2;
    right: 60%;
    top: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main.criadores .container .tiago:hover .hover-image-4{
    opacity: 1;
    transition: opacity .5s;
    display: flex;
    position: fixed;
    top: 30%;
    right: 13%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -2;
}

/* ^^^^^^^^^^^^^^
    MAIN PAGE-TABOO
^^^^^^^^^^^^^^ */

main.page-art{
    min-height: calc(100vh - 5rem);
}

main.page-art .container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    padding: 0 1rem;
    margin-top: 1.6rem;
}

main.page-art .container-t{
    position: sticky;
}

main.page-art .container .art{
    font-size: 2em;
    font-weight: normal;
    margin-top: 8rem;
    margin-left: 7rem;
    transform: rotate(90deg);
}

main.page-art .container .combo{
    display: inline-block;
    width: 3rem;
}

main.page-art .container .combo img{
    z-index: -2;
}

main.page-art .texto-conteudo{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0 2rem;
}

main.page-art .texto-conteudo a{
    color: #4e90bb;
}

main.page-art .info{
    font-family: "editorial new";
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    line-height: 1.6em;
    font-size: .8em;
    margin-top: 1.8rem;
}

main.page-art .texto-conteudo .info ul{
    list-style: none;
}

main.page-art .texto-conteudo .info ul li{
    display: inline-block;
    justify-content: space-between;
    margin-right: 2.4rem;
    margin-top: 3.5rem;
}

main.page-art .info-taboo{
    font-family: "editorial new";
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    line-height: 1.6em;
    font-size: .8em;
    margin-top: 1.8rem;
}

main.page-art .texto-conteudo .info-taboo ul li{
    display: inline-block;
    justify-content: space-between;
    margin-right: 2.4rem;
    margin-top: 1rem;
}

main.page-art .texto-conteudo .info-taboo a{
    color: #4e90bb;
}

main.page-art .texto-conteudo .info-taboo ul a{
    color: #4e90bb;
}

main.page-art .info-2{
    font-family: "editorial new";
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    line-height: 1.6em;
    font-size: .8em;
    margin-top: 2.9rem;
}

main.page-art .texto-conteudo .info-2 ul li{
    display: inline-block;
    justify-content: space-between;
    margin-right: 2.4rem;
    margin-top: 1.1rem;
}

main.page-art .texto-conteudo .info-2 a{
    color: #4e90bb;
}

main.page-art .texto-conteudo .info-2 ul a{
    color: #4e90bb;
}

main.page-art .texto-conteudo .descricao p{
    font-family: "editorial new";
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    font-size: .7rem;
    line-height: 1.4em;
    color: #000;
    margin-top: 4rem;
    margin-left: .5rem;
}

main.page-art .texto-conteudo .descricao-bonnie p{
    font-family: "editorial new";
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    font-size: .7rem;
    line-height: 1.4em;
    color: #000;
    margin-top: 3rem;
    margin-left: .5rem;
}

main.page-art .texto-conteudo .descricao-naked p{
    font-family: "editorial new";
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    font-size: .7rem;
    line-height: 1.4em;
    color: #000;
    margin-top: 2rem;
    margin-left: .5rem;
}


/* ^^^^^^^^^^^^^^
    MAIN SOBRE
^^^^^^^^^^^^^^ */

main.sobre .container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    padding: 0 1rem;
    margin-top: 7rem;
}

main.sobre h2{
    font-family: "editorial new";
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    font-size: 4rem;
    color: #000;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
}

main.sobre .sobre-conteudo{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    padding: 0 1rem;
}

main.sobre .sobre-descricao{
    margin-left: 4rem;
}

main.sobre .sobre-descricao p{
    font-family: "editorial new";
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    font-size: .8rem;
    line-height: 1.4em;
    color: #000;
}

main.sobre .sobre-descricao a{
    color: #4e90bb;
}

main.sobre .sobre-info{
    font-family: "editorial new";
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    line-height: 1.6em;
    font-size: .8em;
    margin-top: 8rem;
    margin-left: 7rem;
    grid-column: 9 / 13;
}

main.sobre .sobre-info ul{
    list-style: none;
}

main.sobre .sobre-info ul li{
    display: inline-block;
    justify-content: space-between;
}

main.sobre .sobre-info a{
    color: #4e90bb;
}


/* ^^^^^^^^^^^^^^
    FOOTER

footer{
    height: 2rem;
    line-height: 2em;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    font-size: .6rem;
    font-family: "monument grotesk";
}

^^^^^^^^^^^^^^ */

/* ^^^^^^^^^^^^^^
    FOOTER PROJECTO
^^^^^^^^^^^^^^ */

footer.projecto{
    height: 2rem;
    line-height: 4em;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    font-size: .5rem;
    font-family: "monument grotesk";
    color: #000;
    background-color: #fff;
}


/* ^^^^^^^^^^^^^^
    MEDIA QUERIES TABLET
^^^^^^^^^^^^^^ */

@media screen and (max-width: 769px){
    :root{
        font-size: 3vw;
        --swiper-theme-color: #6e94cd;
        --swiper-navigation-size: 30px;
    }

    header nav ul li{
        font-size: 2rem;
        margin-top: .5rem;
    }

    main.home .container{
        bottom: 1rem;
    }

    main.work .container{
        grid-column: span 12;
        position: absolute;
        bottom: 0;
        margin-bottom: 2rem;
        width: 100%;
    }

    main.work .container article a{
        display: grid;
        grid-template-columns: none;
        height: 6.5em;
    }

    main.work .container article a h2{
        grid-column: span 12;
    }

    main.work .container .hiato .descricao{
        display: none;
    }

    main.work .container .dogma .descricao{
        display: none;
    }

    main.work .container .doclisboa .descricao{
        display: none;
    }

    main.work .container .folha-sala .descricao{
        display: none;
    }

    main.projecto .container .swiper-container{
        grid-column: span 12;
        margin-top: 2rem;
    }

    main.projecto .container .texto-conteudo .projecto-info p{
        font-size: .6rem;
        line-height: 1.3em;
    }
    
    main.projecto .container .folha-sala{
        font-size: 9.7rem;
        grid-column: span 12;
    }

    main.about .about-texto{
        grid-column: span 8;
        margin-top: 12rem;
        line-height: 1.2em;
    }

    main.about .about-contactos{
        grid-column: span 4;
        margin-top: 12rem;
    }

    main.about .about-logo{
        position: fixed;
        width: calc(100% - 2rem);
        bottom: 1rem;
    }

    main.about .about-logo img{
        width: 100%;
        height: auto;
    }
}

/* ^^^^^^^^^^^^^^
    MEDIA QUERIES MOBILE
^^^^^^^^^^^^^^ */

@media screen and (max-width: 577px){
    :root{
        font-size: 3vw;
        --swiper-theme-color: #6e94cd;
        --swiper-navigation-size: 20px;
    }

    header nav ul li{
        font-size: 2rem;
        margin-top: 1rem;
    }

    main.work .container{
        grid-column: span 12;
        position: absolute;
        bottom: 0;
        margin-bottom: 2rem;
        width: 100%;
    }

    main.work .container .article h2{
        grid-column: span 12;
    }

    main.work .container .article a h2{
        grid-column: span 12;
    }

    main.work .container .descricao{
        display: none;
    }

    main.projecto .container .projecto-titulo{
        font-size: 10rem;
        margin-top: 4rem;
    }
    
    main.projecto .container .swiper-container{
        grid-column: span 12;
    }

    main.projecto .container .projecto-texto p{
        font-size: .8rem;
        line-height: 1.4em;
    }

    main.projecto .container .projecto-info {
        font-size: 1rem;
        line-height: 1.4em;
        margin-bottom: .5rem;
    }

    main.projecto .container .folha-sala{
        font-size: 9.7rem;
        margin-top: 4rem;
    }

    main.about .about-texto{
        font-size: 1rem;
        line-height: 1.2em;
        margin-top: 16rem;
        grid-column: span 7;
    }

    main.about .about-contactos{
        font-size: .8rem;
        line-height: 1.3em;
        margin-top: 16rem;
        grid-column: 8 / span 4;
    }

}
